<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agenda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <img alt="conference" src="../assets/pics/confere.jpeg" />
      <ion-card-header>
        <ion-card-title>Hype Cycle for Natural Language Technologies, 2022</ion-card-title>
        <ion-card-subtitle>Radu Miclaus, 11:00 AM-11:20 AM</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        There are a growing number of emerging technologies on the horizon for natural language technologies that D&A leaders should plan for across the experimentation to the full adoption spectrum. This session identifies how and where D&A leaders can best apply these new opportunities and methods.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="conference" src="../assets/pics/confere.jpeg" />
      <ion-card-header>
        <ion-card-title>Foundations of AI — Still Confused? A Minimal Viable Knowledge Set to Get Started With AI</ion-card-title>
        <ion-card-subtitle>Erick Brethenoux， 11:00 AM-11:30 AM</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        This session will provide a high-level introduction to artificial intelligence (AI) and its practical impact on the organization. It will include key definitions, major trends, organizational and governance issues, and an overview of AI techniques. How to pragmatically introduce AI techniques in the organization to solve complex business problems? What are the steps to take (and to avoid) while implementing AI techniques? What are the AI best practices of organizations that are applying AI strategically?
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
